#good{
position: fixed;

bottom: 0; left: 0;
z-index: 9999; /*--Keeps the panel on top of all other elements--  margin: 0 3%; */
background: #e3e2e2;
border: 1px solid #c3c3c3;
border-bottom: none;
width: 100%;

	

}
.dibu { height:auto; width:1024px;  color: #000000; margin-top:10px; }
.dibuzhong { height:auto; width:900px; background-color: #e3e2e2; float:left;  }
.float_close{float:right; }
.float_close a {display: block;width: auto;  color:#000000;}
.bian { display:block; background-color:#0099CC; }
.renbude {display:block;height:25px; width:auto; background-color: #006699; border:0px; color:#FFFFFF; cursor:pointer; border-radius:3px; padding-left:10px; padding-right:10px;}

