/* ureg*/
.ureg { min-height:600px; width:auto; background-color:#F0F0F0; margin-top:10px; overflow:hidden;}
.uregnav { height:30px; width:auto; background-color:#EBEBEB; line-height:30px;}
.uregnav span { float:left; margin-left:10px;}
.uregnav a { color: #0066CC;}

.uregbox { height:auto; width:auto; margin-top:10px; margin-left:10px;overflow:scroll;}
.uregtable { border:0px; height:340px; width:auto;}

.reganniu {height:30px; line-height:30px; font-size:16px; width:auto; padding-left:10px; padding-right:10px; border:0px; background-color:#0066CC; color:#FFFFFF; cursor:pointer;border-radius: 3px ; font-family:"microsoft yahei";}


.mainboxnav { height:auto; width:auto; line-height:30px; color: #0099CC; margin-left:10px; margin-top:10px;}
.mainboxnav a { color:#0066CC; margin-right:20px;}


.admin_top{ height:100px; width:auto; background-color:#006666; line-height:100px; font-size:30px; padding-left:10px; color:#FFFFFF;}

.admin_left {min-height:600px; width:8%; float:left; overflow:scroll; background-color: #EEEEEE; }
.admin_right {min-height:600px; width:91.5%; float:left; margin-left:0.5%; overflow:scroll;}

.adlf { height:30px; width:200px; background-color:#CCCCCC;}
.adlf a { height:30px; width:auto; line-height:30px; margin-left:10px; }

.adlf_d { height:30px; width:200px; background-color:#CCCCCC; margin-top:10px;}
.adlf_d a { height:30px; width:auto; line-height:30px; margin-left:10px; }


.adlf_list { height:auto; width:200px; }
.adlf_list a { display:block; height:30px; width:auto; line-height:30px; margin-left:10px;}


.tdtop { border:#CCCCCC 1px solid; border-right:none;}
.td { border:#CCCCCC 1px solid; border-right:none;border-top:none;}
.tdanniu {width:40px; border:0px; background-color:#FF0000; cursor:pointer;color:white;font-family:"microsoft yahei";}

.wode tr:hover  { background-color: #CCCCCC;}
.wode a:hover  { display:block; color:#FF6600;}


.usertable { border:#CCCCCC 1px solid; text-align:center;}
.usertable tr { height:30px;}

.listtable { height:auto; border:#CCCCCC 1px solid; padding-left:5px;}
.listtable td { height:30px; border-top:#CCCCCC 1px solid;}
.listtable  tr:hover  { background-color: #CCCCCC;}

.show { }
.showli { display:none;}
.show:hover .showli { height:auto; width:300px; position:absolute; margin-top:-20px;  overflow:hidden; background-color:#CCCCCC; line-height:25px; padding:10px; font-size:12px; color:blue; display:block; margin-left:150px;}

.order { border:#CCCCCC 1px solid; padding-left:10px;}
.order2 { border-left:#CCCCCC 1px solid; border-top:#CCCCCC 1px solid; text-align:center;margin-top:10px; line-height:30px;}
.order2 td { border-right:#CCCCCC 1px solid; border-bottom:#CCCCCC 1px solid; }

.shai{ background-color:#006666; color:#FFFFFF; padding-left:10px; padding-right:10px;}

.order3 { border-left:#CCCCCC 1px solid; border-top:#CCCCCC 1px solid; margin-top:10px; line-height:30px;}
.order3 td { border-right:#CCCCCC 1px solid; border-bottom:#CCCCCC 1px solid; padding-left:10px;}
.showordera { margin-right:20px; color:white;background-color: #006600;}
