
body { margin:0px; padding:0px; font-family:"Microsoft YaHei"; font-size:14px;}
body div { margin:auto;}

body a { text-decoration: none; color:#000000;}

.topline { height:30px; width:auto; background-color: #F2F2F2;}
.toplinenav { height:30px; width:1200px;}
.topline1 { height:30px; width:auto; float:left; line-height:30px;}
.topline2 { height:30px; width:auto; float:right; line-height:30px;}
.topline2 a { height:30px; width:auto; margin-right:20px; float:left; color:#0099CC;}

.top { height:90px; width:1200px;}
.top1 { height:80px; width:200px;  float:left;}
.top2 { height:80px; width:800px;  float:left; line-height:80px; text-align:center; font-size:16px;}
.top3 { height:80px; width:200px;  float:left;}
.top3s { height:25px; width:200px; line-height:25px; color:#FF0000; font-weight:bold; font-size:14px; margin-top:10px;}

.nav { height:50px; width:auto; background-color:#018BC5;}
.navbao { height:50px; width:1200px; }
.navbao a { height:50px; width:100px; margin-right:20px; float:left; color:#FFFFFF; font-size:16px; line-height:50px; text-align:center;  }
.navbao a:hover { background-color:#FF9900; color:#006699; text-decoration:none;}

.navnext { height:40px; width:1200px; background-color:#EFEFEF;}
.navnext a { height:40px; width:auto; margin-left:20px; float:left; text-align:center; line-height:40px; color: #006699;}

.serach { height:40px; width:1192px; border: #0099CC 4px solid; margin-top:5px;}
.serachr { height:40px; width: 80px; float:right; background-color: #0099CC; line-height:40px; text-align:center; color: #FFFFFF; }
.serachr a { height:40px; line-height:40px; width:80px; color: #FFFFFF;}
.serachr a:hover { color:#FF9900; }
.serachr2 input{ height:38px; width:1100px; float:left; display:block; font-size:18px; border:0px; padding-left:10px;font-family:"Microsoft YaHei";}


.seranniu {width:60px; border:0px; background-color:#0099CC; cursor:pointer; line-height:35px; font-size:14px; color:#FFFFFF;font-family:"Microsoft YaHei";}

.bnav  { min-height:40px; width:1180px; background-color: #EAEAEA; padding:10px; overflow:hidden; border-bottom:1px #CCCCCC solid;}
.bnavleft { width:100px; float:left;}
.bnavright { float:left; width:auto;}
.bnav a { display:block; height:30px; width:auto; margin-right:20px; line-height:30px; color: #000000;  float:left; }

.bian {  background-color: #0099CC; padding-left:10px; padding-right:10px; }
.bian1 {  background-color: #0099CC; padding-left:10px; padding-right:10px; }


.table_weibo_nav { margin:auto; margin-top:10px; border:#CCCCCC 1px solid; background-color:#0099CC; color:#FFFFFF; height:40px; width:1200px;}
.table_weibo_list { margin:auto;  border:#CCCCCC 1px solid;  color: #0066CC; height:auto; width:1200px; border-top:none; border-bottom:none;}

.table_weibo_list td { border-bottom:#CCCCCC 1px solid; height:35px; }
.table_weibo_list a { display:block; text-decoration:none;}
.table_weibo_list a:hover { display:block; text-decoration:none;}

.checkbox { width:20px; height:15px;}

.page { height:32px; width:1200px; text-align: center; margin-top:10px;}
.pagebao { height:32px; width:1200px; background-color: #EFEFEF;}
.page a { display:block; height:30px; line-height:30px; width:auto; margin-right:10px; padding-left:10px; padding-right:10px; float:left; border:#CCCCCC 1px solid;}
.page a:hover { text-decoration:none; background-color:#FF6600; color:#FFFFFF;}






.footline  { height:4px; width:auto; background-color:#0099CC; margin-top:10px;}
.foot { height:150px; width:1200px; margin-top:10px;}
.foots { height:30px; width:1200px; line-height:30px;}
.foots a { height:30px; width:auto; margin-right:20px; float:left;}


.show { }
.showli { display:none;}
.show:hover .showli {display:block;  height:auto; width:500px; position:absolute; margin-top:-20px;  overflow:hidden; background-color:#CCCCCC; line-height:25px; padding:10px; font-size:12px; color:blue;  margin-left:280px;}

.delxian { height:1px; width:40px; background-color: #0066CC; position:absolute; margin-top:-8px;}

.addbox { min-height:800px; overflow:hidden; width:1198px; border: #EBEBEB 1px solid; margin-top:10px;}

.anniu {height:25px; width:auto; background-color:#FF6600; border:0px; color:#FFFFFF; cursor:pointer; border-radius:3px; padding-left:10px; padding-right:10px;}

#showa { display:none;}
#showb { display:none;}
#showc { display:none;}



<!--user reg-->
.ureg { min-height:600px; width:1200px; overflow:hidden;}


